<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PustakaKita - Book Collection</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="font-sans overflow-x-hidden">
    <%- include('./partials/nav') %>

    <main class="flex-grow px-6 py-20">
      <h1 class="text-3xl font-bold text-center mb-6 text-yellow-900">Book Collection</h1>
      <div class="max-w-md mx-auto mb-8">
        <form action="/books" method="GET" class="flex shadow-md rounded-lg overflow-hidden">
          <input type="text" name="title" id="title" placeholder="Search by title"
            class="flex-grow px-4 py-2 text-brown-900 focus:outline-none focus:ring-2 focus:ring-yellow-800">
          <button type="submit"
            class="bg-yellow-800 text-white px-4 py-2 hover:bg-yellow-700 transition">Search</button>
        </form>

        <% if (trigger) { %>
          <button
            class="bg-yellow-800 text-white px-4 py-2 hover:bg-yellow-700 transition"
          >
            <a href="/generate-invoice">Generate Invoice</a>
          </button>
          <% } %>


      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <% books.forEach(book=> { %>
          <div class="bg-white border border-yellow-200 rounded-xl shadow-sm hover:shadow-md transition duration-300">
            <img src="<%= book.imageURL %>" alt="<%= book.title %>" class="w-full h-60 object-cover">
            <div class="p-4">
              <h2 class="text-lg font-semibold text-yellow-900 mb-1">
                <%= book.title %>
              </h2>
              <p class="text-sm text-yellow-700 mb-1">Publisher: <%= book.publisher %>
              </p>
              <p class="text-sm text-yellow-700">Pages: <%= book.pageCount %>
              </p>
              <p class="text-xs text-yellow-500 mt-2">ISBN: <%= book.isbn %>
              </p>
              <a href="/books/<%= book.id %>"
                class="inline-block bg-yellow-800 text-white px-4 py-1 text-sm rounded hover:bg-yellow-700 transition">
                Details
              </a>
              <% if (!book.isAvailable) { %> Out of Stock <% } %> <% if
            (book.isAvailable) { %>
            <a
              href="/books/<%= book.id %>/borrow"
              class="inline-block bg-yellow-800 text-white px-3 py-1 text-sm rounded hover:bg-yellow-700 transition"
            >
              Borrow book
            </a>
            <% } %>
              <form action="/books/<%= book.id %>/delete" method="GET">
                <button class="bg-red-600 text-white px-3 py-1 rounded hover:bg-red-700">Delete</button>
              </form>
            </div>
          </div>
          <% }) %>
      </div>

    </main>



    <%- include('partials/footer') %>

</body>

</html>